{% extends "_temp2.html" %}
{% block baslik %}
Yönetim Paneli | Tüm Notlar
{% endblock baslik %}

{% block icerik %}

<div class="container" >
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="/arama" method="POST">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="inp_arama" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <input class="btn btn-lg btn-success" type="submit" value="Tekrar Ara">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
            
    </div>
    <div class="row mt-2 " >
        <div class="col-1" ></div>
        <div class="col " >
            <h1 class="text-center" >Arama Sonucları</h1>
            <form action="/sil" method="POST" >
            {% if aramasonuclari %}
                {% for note in aramasonuclari  %}
                    <div class="card mx-auto" style="width: 18rem">
                        <div class="card-body">
                        <h5 class="card-title">{{note.baslik}}</h5>
                        <p class="card-text">
                            {{note.icerik}}
                        </p>
                        <a href="#" class="card-link">Güncelle</a>
                        <a href="#" class="card-link">Sil</a>
                        </div>
                    </div>
                {%endfor%}
            {%else%}
                <h5 class="text-center mt-3" >Aradığınız kritere uygun sonuç bulunamadı</h5>
            {%endif%}
        </form>
        </div>
        <div class="col-1" ></div>
    </div>
</div>


{% endblock icerik %}