{% extends "_temp2.html" %}
{% block head %}
<title>Not Güncelle</title> 
{% endblock %}

{% block icerik %}
{% if guncellenecek %}
{%for k in guncellenecek%}

<div class="container" >
    <div class="row " >
        <div class="col-2" ></div>
        <div class="col" >
            <form action="/guncelle/{{k.id}}" method="POST" >
                <div class="form-group">
                  <label for="exampleFormControlInput1">Not Başlığı</label>
                  <input type="text" value="{{k.baslik}}" name="inp_baslik" class="form-control" id="exampleFormControlInput1" >
                </div>
            
                <div class="form-group">
                  <label for="summernote">Not İçeriği</label>
                  <textarea name="txt_icerik" class="form-control" id="summernote" rows="3">{{k.icerik}}</textarea>
                </div>
                <input type="submit" class="btn btn-success" value="Güncelle">
              </form>
        </div>
        <div class="col-2" ></div>
    </div>
</div>

{% endfor %}
{%else%}
<div class="alert alert-danger" >
    Bu numaraya sahip bir kayıt bulunamadı!
</div>
{% endif %}
{% endblock %}