{% extends "_temp2.html" %}
{% block head %}
<title>Yönetim Paneli | Tüm Notlar</title>
<script>
    setTimeout(function(){
        document.getElementById('pmessage').style.display = 'none';
    }, 5000); // 10000ms = 10s
</script>
{% endblock head %}

{% block icerik %}

<div class="container" >
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="/arama" method="POST">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="inp_arama" class="form-control form-control-borderless" type="search" placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <input class="btn btn-success" type="submit" value="Arama" >
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div id="pmessage" class="row no-gutters position-fixed" style="top:60px;right:30px;">
		<div class="col-lg-12 col-md-12">
			<div class="{{category}} fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			  	<p >{{ message }}</p>
			</div>
		</div>
	</div>
    {% endfor %}

    <div class="row mt-2 " >
        <div class="col-1" ></div>
        <div class="col " >
            <h1 class="text-center" >Tüm Not Listesi</h1>
            {% if notlar %}
            {% for note in notlar  %}
                <div class="card mx-auto" >
                    <div class="card-body">
                    <h5 class="card-title"><a href="/notgoruntule/{{note.id}}" class="card-link">{{note.baslik|safe}}</a></h5>
                    <p class="card-text">
                        {{note.icerik|safe}}
                    </p>
                    <a href="/guncelle/{{note.id}}" class="card-link">Güncelle</a>
                    <a href="/sil/{{note.id}}" class="card-link">Sil</a>
                    </div>
                </div>
            {%endfor%}
            {%else%}
                <div class="alert alert-danger mt-4" >
                    Sistemde girilen notunuz bulunmuyor!
                </div>
            {%endif%}
        </div>
        <div class="col-1" ></div>
    </div>
</div>


{% endblock icerik %}